<a href="https://colab.research.google.com/github/navagigs/logikadanalgoritma2/blob/master/01_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intro to Pandas

In [1]:
#import library pandas
import pandas as pd

#dataset
mydataset = {
  'lecture': ["Rahma Hanum", "Trianty", "Nava Gia"],
  'score': [7, 5, 3]
}

#Konversi dua kolom lecuture dan score
myvar = pd.DataFrame(mydataset)

print(myvar)

       lecture  score
0  Rahma Hanum      7
1      Trianty      5
2     Nava Gia      3

# Pandas Series

In [8]:
import pandas as pd

lecture = ["Rahma Hanum", "Trianty", "Nava Gia"]
     
myvar = pd.Series (lecture)

print (myvar)

0    Rahma Hanum
1        Trianty
2       Nava Gia
dtype: object

Setelah membuat label, Kita dapat mengakses item dengan merujuk ke label.

In [7]:
print (myvar[0])

Rahma Hanum

In [9]:
import pandas as pd

lecture = ["Rahma Hanum", "Trianty", "Nava Gia"]

#memberi label x,yz
myvar = pd.Series(lecture, index = ["x", "y", "z"])

print(myvar)

x    Rahma Hanum
y        Trianty
z       Nava Gia
dtype: object

Setelah membuat label, Kita dapat mengakses item dengan merujuk ke label.

In [10]:
print(myvar["y"])

Trianty

## Key/Value Objects as Series

In [13]:
import pandas as pd

lecture = {"Rahma Hanum": 7, "Trianty": 5, "Nava Gia": 3}

myvar = pd.Series(lecture)

print(myvar)

Rahma Hanum    7
Trianty        5
Nava Gia       3
dtype: int64

Untuk memilih hanya beberapa item dalam kamus, gunakan indeks argumen dan hanya tentukan item yang ingin Kita sertakan dalam Seri.

In [16]:
import pandas as pd

lecture = {"Rahma Hanum": 7, "Trianty": 5, "Nava Gia": 3}

myvar = pd.Series(lecture, index = ["Rahma Hanum", "Trianty"])

print(myvar)

Rahma Hanum    7
Trianty        5
dtype: int64

# Pandas DataFrames

In [17]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

myvar = pd.DataFrame(data)
df = pd.DataFrame(data)
print(myvar)

   calories  duration
0       420        50
1       380        40
2       390        45

##Locate Row

In [18]:
#merujuk ke indeks baris:
print(df.loc[0])

calories    420
duration     50
Name: 0, dtype: int64

In [19]:
#gunakan daftar indeks:
print(df.loc[[0, 1]])

   calories  duration
0       420        50
1       380        40

# Load files to dataframe

In [23]:
import pandas as pd

df = pd.read_csv('data.csv')

print(df.to_string())

          NPM                               NAMA
0   183220001           Rafli Syahrial Putradewa
1   183220003             Sri Nuryani Pujiastuti
2   183220002              Allya Sofiana Assyifa
3   183220004            Shifa Al-Fathia Laksana
4   183220007                Fadhil Irmani Putra
5   183220006                      Nurul Faujiah
6   183220008              Muhammad Dafa Farhani
7   183220009             Jonathan Rizky Sitorus
8   183220010                         Febriyanti
9   183220045     Muhammad Renaga Shafar Anggara
10  183220012                Majestin Ammadienta
11  183220013                 Nauro Cahya Kanthi
12  183220014               Muhammad Nurdiansyah
13  183220016              Firyal Iftinan Dianti
14  183220015         Ravendirtha Muchlas Aldino
15  183220017                        Wildan Azis
16  183220018                    Alia Mega Putri
17  183220019                 Jose Elio Parhusip
18  183220021                  Anindhita Azzahra
19  183220020  Reynara Oliver Sandedigo Simamora
20  183220022                    Hidayah Kamulia
21  183220028         Devina Syilva Putri Feliza
22  183220055                  Muhammad Amrulloh
23  183220027                        Siti Umayah
24  183220023                     Hanif Annaufal
25  183220026                 Ahmad Nouval Riant
26  183220025                         Fiska Dewi
27  183220029              Mochamad Fakhriy Afif
28  183220031                   Nailah Salsabila

In [24]:
import pandas as pd

df = pd.read_csv('/content/data.csv')

print(df.to_string())

          NPM                               NAMA
0   183220001           Rafli Syahrial Putradewa
1   183220003             Sri Nuryani Pujiastuti
2   183220002              Allya Sofiana Assyifa
3   183220004            Shifa Al-Fathia Laksana
4   183220007                Fadhil Irmani Putra
5   183220006                      Nurul Faujiah
6   183220008              Muhammad Dafa Farhani
7   183220009             Jonathan Rizky Sitorus
8   183220010                         Febriyanti
9   183220045     Muhammad Renaga Shafar Anggara
10  183220012                Majestin Ammadienta
11  183220013                 Nauro Cahya Kanthi
12  183220014               Muhammad Nurdiansyah
13  183220016              Firyal Iftinan Dianti
14  183220015         Ravendirtha Muchlas Aldino
15  183220017                        Wildan Azis
16  183220018                    Alia Mega Putri
17  183220019                 Jose Elio Parhusip
18  183220021                  Anindhita Azzahra
19  183220020  Reynara Oliver Sandedigo Simamora
20  183220022                    Hidayah Kamulia
21  183220028         Devina Syilva Putri Feliza
22  183220055                  Muhammad Amrulloh
23  183220027                        Siti Umayah
24  183220023                     Hanif Annaufal
25  183220026                 Ahmad Nouval Riant
26  183220025                         Fiska Dewi
27  183220029              Mochamad Fakhriy Afif
28  183220031                   Nailah Salsabila